.editPostDiv {
    /* background-color: var(--offWhite); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 5rem;
    width: 100%;
}

.editPostDiv .expandButton {
    margin-inline: auto;
    width: 40%;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}