

.EditGroup {
    background: var(--offWhite);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 80%;
}

.EditGroup header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    border-bottom: #000 solid .1rem;
    margin-inline: 1rem;
}

.EditGroup header input {
    background: #fff;

    padding: .5rem;
    outline: 1px solid #000;
    margin: 1rem;
}

.EditGroup label {
    margin: 1rem;
}

.expandGroup {
    background: var(--headerColor);
    
    height: 2rem;
}

.editGroupPeople {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: 1rem 0;
}

.updateGroupButton {
    background-color: var(--contrastColor2);
    color: #fff;

    padding: .5rem;
    margin-left: auto;
}

.updateGroupButton:hover {
    background-color: var(--contrastColor);
}