
.editGroupContainer {
    background: #212121;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    flex: 1;
}

.editGroupDiv {
    background: #252525;
    color: var(--textColor);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;

    width: 90%;
    margin: 2rem
}

.editGroupHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
}

.editGroupHeader>* {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.editGroup .editGroupButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.editGroupPeople {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}