
.adminPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;

    width: 100%;
    height: max-content;

    flex: 1;
}

.addGroupDiv {
    background: var(--offWhite);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
}

.addGroupDiv .addGroupButton {
    margin-left: auto;
}
