

.contactPage {
    font-family: Nunito;
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;

    margin: 3rem 0 5rem 0;
}

.contactPage img {
    height: 2rem;
}

.contactPage ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.contactPage a {    
    display: flex;
    align-items: center;
    gap: 1rem;
}