
.uploadPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

h2 {
    text-align: center;
}

.uploadPostForm {
    background-color: #edebeb;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; 

    width: 70%;
    border: .1rem solid #000;
}

.uploadPostImage {
    width: 80%;
}

.uploadPostForm>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;

    padding: 1rem;
    width: 50%;
}

.uploadPostImageDiv {
    flex-shrink: 0;
}

.uploadPostImageLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.uploadPostTextDiv {
    background-color: #c4c4c4;

    box-sizing: border-box;
    height: auto;
}

.uploadPostTextDiv textarea {
    width: 100%;
}

.uploadPostTextDiv textarea:nth-child(1) {
    flex: 1;
}

.uploadPostTextDiv textarea:nth-child(2) {
    flex: 4;
}