
.adminPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;

    width: 100%;
    height: max-content;

    flex: 1;
}

.editGroupMenu {
    background-color: #5e5e5e;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.editGroupMenu li {
    background-color: var(--offWhite);
    color: var(--textColor);

    font-size: 1.5rem;

    width: 100%;
    padding: 1rem 2rem;
}

.editGroupMenu li:hover {
    cursor: pointer;
}

.editGroupMenu .activeGroup {
    background-color: #0f5d1b;
}

.addGroupDiv {
    background: var(--offWhite);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
}

.addGroupDiv .addGroupButton {
    margin-left: auto;
}
