
.editPerson {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .8rem;

    box-sizing: border-box;
    width: 100%;
    padding-inline: 1rem;
}

.editPersonImage {
    background: #fff;

    height: 3rem;
    border: .05rem solid #000;
}

.editPerson input, .editPerson textarea{
    background: rgb(255, 255, 255);
    border: .05rem solid #000;

    min-height: max-content;
    width: 4rem;

}

.editPerson input {
    flex: 1;

    text-align: center;

}

.editPerson textarea {
    flex: 4;

    height: 5rem;
    padding: .4rem;
}

textarea {
    resize: none;
    width: 30rem !important;
    }

.updatePersonButton {
    background: var(--contrastColor2);
    color: #fff;
}