
.joinpage {
    font-family: 'Nunito';

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    margin: 4rem 0;
}

.joinpage h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.joinpage section {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 40ch;
}

.joinpage h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;

    font-family: 'Times New Roman';

}