@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');


.pageHeader {
    background: var(--headerColor);

    font-family: 'Jacques Francois Shadow';

    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
} 
.pageHeader .headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: relative;

    width: max-content;
    height: 10rem;
    margin-inline: auto;
}

.pageHeader .logo {
    height: 8rem;
}

.pageHeader h1 {
    font-size: 4rem;
    font-weight: 400;

    height: 5rem;
    margin: 0;
}