
.pageFooter {
    background: #141414;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 1rem 3rem;
    width: 100%;

    margin-top: auto;
}

.pageFooter a {
    color: var(--contrastColor);
}

.pageFooter