

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    position: absolute;
    top: 1rem;
    right: 2rem;
}

.Navmenu>* {
    color: var(--linkColor);
}

